<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apis">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".features.others.IntroActivity" />
        <activity
            android:name=".features.others.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.others.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".features.animal_list.ListaAnimais"
            android:label="@string/title_activity_lista_animais"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.comportamentos_list.AdicionarComportamento"
            android:label="@string/title_activity_adicionar_comportamento"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".features.lote_list.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.edicaoComportamento.EditComportamentoPadrao"
            android:label="Definir comportamentos padrão"
            android:theme="@style/AppTheme.NoActionBar" />
        <receiver
            android:name=".features.others.AlarmReceiver"
            android:process=":remote" />
    </application>

</manifest>